article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
article>h1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
article>div{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
article>div p{
    font-size: 18px;
    line-height: 27px;
}
article iframe{
    width: 400px;
    height: 300px;
}
article>div:first-of-type{
    height: 450px;
}

.quotes{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000066;
    color: white;
}
.quotes>div{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.quotes>div>span{
    font-size: 24px;
}

#Products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 650px;
    width: 100%;
    background-color: #000066;
}
#Products h2{
    color: white;
    font-size: 32px;
}
#Products>div{
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}
#Products h3, #Products p{
    display: none;
}
#Products img{
    height: 200px;
}
#support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: Center;
    }
}

/*For welcome*/
@media (max-width: 890px){
    article>div:first-of-type{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        text-align: center;
    }
    #welcome-message{
        width: 100%;
    }
}

@media (max-width: 1252px){
    article>div#services{
        height: 500px;
    }
}

@media (max-width: 1030px){
    article>div#services{
        height: 320px;
    }
    article>div#services>div p{
        display: none;
    }
    article>div#services>div>button{
        margin-top: 25px;
    }
}

@media (min-width: 1030px){
    #Products p, #Products h3 {
        display: flex;
    }
    #Products{
        height: 450px;
    }
    #Products>div{
        flex-direction: row;
        width: 85%;
        margin-top: 15px;
    }
    #Products>div>div{
        width: 40%;
        color: white;
        align-self: flex-start;
    }
    #Products img {
        height: 300px;
        align-self: flex-start;
    }
}

@media (min-width:200px) and (max-width: 812px){
    article>div#services{
       flex-direction: column;
       height: 850px;
       gap: 0;
    }
    article>div#services>div:first-of-type{
        height: auto;
    }
    article>div#services>div{
        width: 80%;
        border-bottom: 1px solid #c4dffa;
        align-items: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        h3{
            margin: 0;
        }
        button{
            margin-bottom: 20px;
        }
    }
    #services>div:nth-child(2)>ul{
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li{
        font-size: 18px;
        line-height: 27px;
        padding: 0;
    }
    article button{
        display: flex;
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        background-color: #c4dffa;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        transition: transform 0.2s;
    }
    article button:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.5s;
    }
    #support>div>button{
        font-size: 26px;
    }
}

@media (min-width:770px) {
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    article>h1{
        font-size: 36px;
    }
    article>div{
        width: 80%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    article iframe{
        width: 475px;
        height: 350px;
    }
    #welcome-message{
        height: 350px;
        width: 475px;
        h2{
            margin-top: 0;
        }
    }
    article>div>div{
        width: 35%;
    }
    article>div>h2{
        font-size: 32px;
    }
    article>div p{
        font-size: 18px;
        line-height: 27px;
    }
    .quotes{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #000066;
        color: white;
    }
    .quotes>div{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }
    .quotes>div>span{
        font-size: 24px;
    }
    #services{
        height: 450px;
    }
    #services>div{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3{
            margin: 0;
        }
        button{
            margin-bottom: 20px;
        }
    }
    #services>div:nth-child(2){
        height: auto;
        align-self: center;
    }
    #services>div:nth-child(2)>ul{
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li{
        font-size: 18px;
        line-height: 27px;
        padding: 0;
    }
    #support{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #support>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        width: 80%;
    }
    #support>div>div{
        width: 40%;
        text-align: left;
    }
    #support>div>div>button{
        display: flex;
        align-self: flex-start;
    }
    article button{
        display: flex;
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        background-color: #c4dffa;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        transition: transform 0.2s;
    }
    article button:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.5s;
    }
    #support>div>button{
        font-size: 26px;
    }
}
