article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 75px 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
article>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
article>div>h3{
    text-align: center;
    font-size: 28px;
    margin: 0;
    width: 350px;
}
article>div>div{
    width: 80%;
    text-align: center;
    p{
        height: 14px;
    }
}
article>div>div>p>a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
article>div>div>p>a:hover{
    color: #c4dffa;
    text-decoration: underline;
}
article iframe{
    width: 75%;
    height: 300px;
    max-width: 500px;
    max-height: 350px;
}
article>section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-top: 25px;
}
article>section>a{
    width: 60%;
}
article>section>div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #c4dffa;
    height: 250px;
    a {
        width: 100%;
        text-align: center;
    }
}
article>section>div>h3{
    margin: 0;
    margin-top: 25px;
    font-size: 22px;
}
article>section>div>p{
    width: 80%;
    margin: 0;
    text-align: center;
    font-size: 18px;
}
article>section>div>a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000066;
    color: white;
    height: 40px;
    text-decoration: none;
}
article>section>div>a:hover{
    opacity: 0.85;
}
article>section>a>div{
    width: 100%;
    background-color: #c4dffa;
    transition: 0.5s;
    img{
        width: 100%;
    }
}
article>section>a>div:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
article>section>a>div>p {
    display: none;
}
@media (min-width:770px) {
    article{
        flex-direction: row;
        gap:0px;
        justify-content: flex-start;
    }
    article>div{
        width: 100%;
    }
    article>section{
        width: 600px;
    }
    article>section>a>div{
        display: flex;
        justify-content: center;
    }
    article>section>a>div>img{
        width: 60%;
        display: flex;
        align-self: center;
    }
}